.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
.env
google-services.json
*.jks
*.keystore
key.properties
*.g.dart
*.freezed.dart
